body {
  margin: 0;
}
.conteiner {
  margin-top: 15vh;
  margin-left: 15vh;
  padding: 0;
  position: fixed;
}

.canvas-content {
  margin-top: -125vh;
  margin-left: 25vh;
  width: 134vh;
  border-style: groove;
  border-color: aqua;
  border-radius: 2%;
}

#canvas {
  display: block;
}



/* Brush - sizes */


.brush-sizes .brush-size {
  position: fixed;
  z-index: 1;
  width: 186px;
  background-color: #808080;
}

.brush-sizes .brush-size:nth-child(1) {
  margin-top: -293px;
  height: 4px;
}

.brush-sizes .brush-size:nth-child(2) {
  margin-top: -243px;
  height: 5px;
}

.brush-sizes .brush-size:nth-child(3) {
  margin-top: -195px;
  height: 6px;
}

.brush-sizes .brush-size:nth-child(4) {
  margin-top: -145px;
  height: 7px;
}

/* Li size */

ul {
  z-index: 1;
  transform: translateY(50%);
  transform: translateX(-7%);
  width: 250px;
  height: 400px;
}

ul .li-size {
  position: absolute;
  width: 186px;
  height: 6px;
  margin-top: -110%;
  margin-left: -10%;
  list-style: none;
  background-color: #800080;
}

ul .li-size:nth-child(1) {
  top: 0px;
  left: 50px;
}

ul .li-size:nth-child(2) {
  top: 50px;
  left: 50px;
}

ul .li-size:nth-child(3) {
  top: 100px;
  left: 50px;
}

ul .li-size:nth-child(4) {
  top: 150px;
  left: 50px;
}

ul .li-size:nth-child(5) {
  top: 200px;
  left: 50px;
}

/* Hovers */

.brush-sizes .brush-size:hover {
  cursor: pointer;
}
